<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098157408776-kbbc536e5h51g9v50q6vis9p8d815vji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098157408776-kbbc536e5h51g9v50q6vis9p8d815vji</string>
	<key>API_KEY</key>
	<string>AIzaSyAMXjUcoFVva_ab2vC_C5mPXN8aPNVN7NI</string>
	<key>GCM_SENDER_ID</key>
	<string>1098157408776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planetre.chocolatechips</string>
	<key>PROJECT_ID</key>
	<string>chocolatechips-af321</string>
	<key>STORAGE_BUCKET</key>
	<string>chocolatechips-af321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098157408776:ios:6292c74826194d403587bd</string>
</dict>
</plist>